Repository Cluster-ry/titeenipeli_25, changes with the owners that CODEOWNERS names for each.
All owners: @ekosfin, @softgitron, @Cluster-ry/backend-devs, @Cluster-ry/front-devs, @Cluster-ry/devops-engineers

Changed from JS to TS
  src/frontend/.eslintrc.cjs
  src/frontend/.gitignore
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/vite.svg
  src/frontend/src/App.css
  src/frontend/src/App.tsx
  src/frontend/src/assets/react.svg
  src/frontend/src/index.css
  src/frontend/src/main.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/titeeni-frontend/README.md
  src/frontend/tsconfig.json
  src/frontend/tsconfig.node.json
  src/frontend/vite.config.ts
Owners: @Cluster-ry/front-devs

pnpm, ES2022, .mjs format
  src/frontend/.eslintrc.mjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Owners: @Cluster-ry/front-devs

#14: Frontend ville (#42)
  src/frontend/.eslintrc.mjs
  src/frontend/.gitignore
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/public/vite.svg
  src/frontend/src/App.css
  src/frontend/src/App.tsx
  src/frontend/src/assets/react.svg
  src/frontend/src/index.css
  src/frontend/src/main.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.json
  src/frontend/tsconfig.node.json
  src/frontend/vite.config.ts
Owners: @Cluster-ry/front-devs

#16: Added frontend lint workflow and default lint rules
  .github/workflows/frontend-lint.yaml
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Owners: @Cluster-ry/devops-engineers, @Cluster-ry/front-devs

Fixed typo
  .github/workflows/frontend-lint.yaml
Owners: @Cluster-ry/devops-engineers

#16: creating lint error to test CI action
  src/frontend/src/main.tsx
Owners: @Cluster-ry/front-devs

#16: Fixing lint error
  src/frontend/src/main.tsx
Owners: @Cluster-ry/front-devs

Initialized backend
  src/backend/.gitignore
  src/backend/Titeenipeli.sln
  src/backend/Titeenipeli/Program.cs
  src/backend/Titeenipeli/Properties/launchSettings.json
  src/backend/Titeenipeli/Titeenipeli.csproj
  src/backend/Titeenipeli/Titeenipeli.http
  src/backend/Titeenipeli/appsettings.Development.json
  src/backend/Titeenipeli/appsettings.json
Owners: @Cluster-ry/backend-devs

Added basic websocket support
  src/backend/Titeenipeli/Controllers/WebScoketController.cs
  src/backend/Titeenipeli/Program.cs
  src/backend/Titeenipeli/Snippets/BackgroundSocketProcessor.cs
  src/backend/Titeenipeli/Snippets/Program.cs
  src/backend/Titeenipeli/wwwroot/index.html
Owners: @Cluster-ry/backend-devs

#16: Added frontend lint workflow and default lint rules (#46)
  .github/workflows/frontend-lint.yaml
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Owners: @Cluster-ry/devops-engineers, @Cluster-ry/front-devs

Updated directory structure and added few more examples
  src/backend/Titeenipeli/Controllers/ApiController.cs
  src/backend/Titeenipeli/Controllers/WeatherForecastController.cs
  src/backend/Titeenipeli/Models/TestObject.cs
  src/backend/Titeenipeli/Models/WeatherForecast.cs
  src/backend/Titeenipeli/Program.cs
  src/backend/Titeenipeli/Properties/launchSettings.json
  src/backend/Titeenipeli/Titeenipeli.http
Owners: @Cluster-ry/backend-devs

Added unit tests to project
  src/backend/.gitignore
  src/backend/Titeenipeli.Tests/Controllers/ApiControllerTest.cs
  src/backend/Titeenipeli.Tests/Titeenipeli.Tests.csproj
  src/backend/Titeenipeli.sln
Owners: @Cluster-ry/backend-devs

#5: Initial OpenAPI spec with set pixel as example specification
  src/openapi/components/responses/400ClientError.yaml
  src/openapi/components/responses/401Unauthorized.yaml
  src/openapi/components/schemas/error.yaml
  src/openapi/components/schemas/pixel.yaml
  src/openapi/components/securitySchemas/bearerAuth.yaml
  src/openapi/openapi.yaml
  src/openapi/paths/map/pixels.yaml
Owners: @ekosfin, @softgitron

Reformated all backend files and added explicit types
  src/backend/Titeenipeli.Tests/Controllers/ApiControllerTest.cs
  src/backend/Titeenipeli.Tests/Titeenipeli.Tests.csproj
  src/backend/Titeenipeli/Controllers/WeatherForecastController.cs
  src/backend/Titeenipeli/Controllers/WebScoketController.cs
  src/backend/Titeenipeli/Program.cs
  src/backend/Titeenipeli/Snippets/BackgroundSocketProcessor.cs
  src/backend/Titeenipeli/Snippets/Program.cs
  src/backend/Titeenipeli/wwwroot/index.html
Owners: @Cluster-ry/backend-devs

Added DbConnector class
  src/backend/Titeenipeli/Connectors/DbConnector.cs
  src/backend/Titeenipeli/Titeenipeli.csproj
Owners: @Cluster-ry/backend-devs

Added global prefix to routes
  src/backend/Titeenipeli/Controllers/ApiController.cs
  src/backend/Titeenipeli/Controllers/WeatherForecastController.cs
  src/backend/Titeenipeli/Controllers/WebScoketController.cs
  src/backend/Titeenipeli/Middleware/GlobalRoutePrefixMiddleware.cs
  src/backend/Titeenipeli/Program.cs
Owners: @Cluster-ry/backend-devs

Added helper class for creating and filling tables to database
  src/backend/Titeenipeli/Helpers/DbFiller.cs
Owners: @Cluster-ry/backend-devs

Used DbFiller to make a clean CtfFlags table on program startup
  src/backend/Titeenipeli/Program.cs
Owners: @Cluster-ry/backend-devs

Updated DbConnector
  src/backend/Titeenipeli/Connectors/DbConnector.cs
Owners: @Cluster-ry/backend-devs

#6: Add route for getting whole map data
  src/openapi/components/enums/guilds.yaml
  src/openapi/components/enums/mapOwners.yaml
  src/openapi/components/enums/mapSpecial.yaml
  src/openapi/components/enums/mapSpecialOwner.yaml
  src/openapi/components/responses/200GetPixels.yaml
  src/openapi/components/schemas/pixels.yaml
  src/openapi/components/schemas/relativeCoordinate.yaml
  src/openapi/openapi.yaml
  src/openapi/paths/map/pixels.yaml
Owners: @ekosfin, @softgitron

CODEOWNERS:

# Global owners 
# These people will be requested if nothing else later matches
*               @ekosfin @softgitron

# Infra folder needs approval from ekosfin
infra/          @ekosfin

# Backend folder needs approval from someone in backend-devs
src/backend/    @Cluster-ry/backend-devs

# Frontend folder needs approval from someone in front-devs
src/frontend/   @Cluster-ry/front-devs

# Github folder needs approval from someone in devops-engineers
.github/        @Cluster-ry/devops-engineers
